.pc-header img{width: 42px;margin-top: 4px;}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.pc_news_tabs {
	width: 340px;
}
.pc_news_tabs li{
	list-style: none;
}
.pc_news_tabs ul{
	padding:0;
}
.ant-col-20 .ant-carousel{
	display: inline-block;
	width: 400px;
	margin-top: 14px;
}
.ant-col-20 .ant-carousel img{
	width: 400px;
}
.ant-col-20 .ant-tabs{
	display: inline-block;
	margin-left: 14px;
}
.inline-block{
	display: inline-block;
}
.ant-card-body{
	vertical-align: top;
	padding: 14px;
}
