@charset "utf-8";
.pc_news_tabs{
	width: 400px;
	display: inline-block;
	vertical-align: top;
}

.pc_news_tabs li{
	list-style: none;
}
.pc_news_tabs ul{
	padding:0;
}
.pc_canrousel{
	display: inline-block;
	vertical-align: top;
	width: 400px;
	height: 260px;
	margin: 20px 10px;
}
.pc_canrousel img{
	width: 400px;
	height: 260px;
}
.pc_canrousel+.pc_news_tabs{
	display: inline-block;
	width: 400px;
	vertical-align: top;
	margin: 5px 10px;
}
.inline-block{
	display: inline-block;
	vertical-align: top;
}
.an-col-20{
	min-width: 1100px;
}
.ant-tabs.pc_news_tabs{
	margin: 5px 10px;
}
.pc_news_tabs .ant-card-body {
	padding-bottom: 8px;
}
.article-img .ant-card-body{
	border: 1px solid #ddd;
}
.article-img .ant-card{
	margin: 10px;
}
.container .pc_news_tabs .ant-card-bordered{
	padding-bottom: 8px;
}
